{
  "printWidth": 250,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.spec.ts",
      "options": {
        "arrowParens": "always",
        "trailingComma": "none",
        "printWidth": 300
      }
    }
  ]
}
