{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["*.spec.ts","*.teardown.ts", "*.setup.ts", "playwright/playwright-fixtures/**/*.ts" ],
      "options": {
        "arrowParens": "always",
        "trailingComma": "none",
        "printWidth": 300
      }
    }
  ]
}
